/* BBLF Enhancer CSS v3 (2026) */
/*
 - There is no more live feed "page", so we only care about big_brother live-tv pages now
 - This CSS is intended for the Stylebot extension (https://chromewebstore.google.com/detail/stylebot/oiaejidbmkiecgbjeifoejpgmdaleoha)
 - It should be applied to the following url:
	https://www.paramountplus.com/live-tv/stream/big_brother/*
 - It will hide header/footer and the live tv menu, showing only the video
 - To change cameras with this enabled, you can do one of the following:
	* Click the Stylebot extension icon to disable the CSS and use the Live TV menu
	* Visit the Big Brother page (https://www.paramountplus.com/shows/big_brother/) and use the Live Feed thumbnails
	* Bookmark each camera url and change that way
*/

/* BBLF Enhancer CSS v3 (2026) */
/*
 now we only care about big_brother live-tv pages
*/

/* hide header nav */
.header__nav {
  display: none;
}

/* hide user profile selector */
#user-profiles-menu-trigger {
  display: none;
}

/* kids access button */
#kids-access-button {
  display: none;
}

/* hide footer */
footer {
  display: none;
}

/* hide bottom video metadata */
.video__metadata {
  display: none;
}

/* hide top menu bar */
div.top-menu-hint {
  display: none;
}

/* hide top/bottom backplanes (black translucent bars under menu+controls) */
.top-menu-backplane, .controls-backplane {
  display: none;
}


/* hide live tv overlay */
div.skin-sidebar-plugin {
  display: none;
}

/* uncomment to hide controls */
/* .controls-manager, .top-menu-manager {
  display: none;
} */
